.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.loading_wrap .dim {
  opacity: .3;
  z-index: 900;
}

.loading_wrap img {
  width: 70px;
}

.loading_wrap {
  position: fixed;
  height: 100vh;
  margin: -60px -50px 0 -50px;
  z-index: 800;
}

.loading_wrap .loading img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 920;
  margin-left: 35px;
}


body {
  padding-top: 30px;
  height: 100%
}

.component-container {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

#boss-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* 2개의 동일한 폭으로 그리드 형태로 배치 */
  grid-gap: 10px;
  /* 요소들 사이의 간격 */
}

#boss-list > li {
  list-style: none;
  /* 리스트 마커 제거 */
}

.list-group-item:hover {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #007bff;
  color: #fff;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 80vh;
  max-height: 100vh;
}

.pagerow {
  min-height: 80vh;
  max-height: 80vh;
}

.sidebar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}

.list-group-flush {
  margin: 0;
}

a.c_navlink {
  text-decoration: none; /* 밑줄 없애기 */
  color: black; /* 링크 색상 변경 */
}

.m-r {
  margin-right: 5px;
}

a.active {
  background-color: skyblue;
}

#boss-map-container {
  max-height: 800px;
}

#main-area {
  max-width: 800px;
  max-height: 800px;
}

.leaflet-container {
  height: 100%;
}

.boss-tooltip {
  display: block !important;
  z-index: 9999;
  pointer-events: auto; /* 변경 */
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  padding: 6px;
  margin-top: -30px;
  margin-left: -30px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}